* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  width: 80%;
  margin: auto;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}
.nav-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
